
<div class="card mb-4">
    <div class="card-header pb-0">
        <h5>Leaderboard (Top 20)</h5>
        <div class="row">
            <div class="col-6">
                <select id="department" class="form-select">
                    <option value="">Select Department</option>
                    {% for department in departments %}
                        <option value="{{ department.id }}">{{ department.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-6">
                <select id="batch" class="form-select">
                    <option value="">Select Batch</option>
                    {% for batch in batches %}
                        <option value="{{ batch.id }}">{{ batch.start_year }} - {{ batch.end_year }}</option>
                    {% endfor %}
                </select>
            </div>

        </div>
            
        <div class="row">
            <div class="col-6">
                <select id="institute" class="form-select">
                    <option value="">Select Institute</option>
                    {% for institute in institutes %}
                        <option value="{{ institute.id }}">{{ institute.name }}</option>
                    {% endfor %}
                </select>
    
            </div>

            <div class="col-6">
                <select id="course" class="form-select">
                    <option value="">Select Course</option>
                    {% for course in courses %}
                        <option value="{{ course.id }}">{{ course.course_title }}</option>
                    {% endfor %}
                </select>
            </div>

        </div>
         
           
    </div>
    <div class="card-body px-0 pt-0 pb-2">
      <div class="table-responsive p-0">
        <table class="table align-items-center mb-0">
          <thead>
            <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Rank</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Username</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Department</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Batch</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Institute</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Total Score</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Total Solved</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Integrity Index</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Easy Solved</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Medium Solved</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Hard Solved</th>
                        
                        
                        
             
            </tr>
          </thead>

                 <tbody id="leaderboard-body">

                </tbody>
          
        </table>
      </div>
    </div>
    <div class="card-footer text-center text-sm">
        <a href="{% url 'leaderboard' %}">View Full Leaderboard</a>
    </div>
  </div>
