{% extends 'decodeschool/base_sign.html' %}
{% load custom_tags %} 
{% load crispy_forms_tags %}

  {% block title  %}
      <h3 class="font-weight-bolder text-info text-gradient">No Worries</h3>
      <p class="mb-0 text-sm">Enter Your Username, <a href="{% url 'login' %}">Back to Login</a></p>
  {% endblock %}

{% block content %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label for="username">Enter your username:</label>
        <input type="text" id="username" class="form-control" name="username" required>
        <button class="btn btn-primary mt-2" type="submit">Reset Password</button>
    </form>
    {% endblock %}